<p>Oi do video {{ name }} </p>

<h1>
    {{minhaPropsDeFora}}
</h1>

<button (click)="submit">click</button>


<!-- <button (click)="submit()">click</button>

@if(deveMostrarTitulo) {
    <h1>Meu titulo</h1>
} @else if (name == "Fernanda") {
    <h1>Meu titulo para Fernanda</h1>
} 
@else {
    <h1>Não foi verdadeiro</h1>
}
@for (item of listItems; track item) {
    <p>{{item}}</p>
}

<p *ngForm="let item of listItems">{{item}}</p> -->

<!-- <button [attr.aria-label]="idButton"></button>
<button [id]="idButton"></button> -->